h3#welcome-sign {
  text-align:center;
  margin-bottom: 15px;
}

.sign-out-btn {
  margin-right: 5%;
}

#reading-lists .next-btn {
    width: 90px;
    height: 55px;
}

#reading-lists .edit-btn {
    width: 90px;
    height: 55px;
}

.navbar-link {
  font-size: 16px;
}

#edit-list {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

#edit-list .text-field {
  width: 60px;
}


div.devise-form {
  margin-left: auto;
  margin-right: auto;
  width: 170px;
}

.devise-form .btn {
  margin-top: 5px;
}


