<!DOCTYPE html>
<html>
<head>
  <title>ReadingPlan</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
<div id='main-view'>

<%= yield %>

</div>
</body>
</html>
